@import 'inc/bootstrap';

$lineHeight: 3rem;
$headerHeight: 4.5rem;
$panelPadding: 19px;

/* reset default template styles */
.fizzy {
    & .qti-navigator-label {
        padding: 0;
        line-height: initial;
        min-width: auto;
        align-items: center;
        display: block;
    }

    & .qti-navigator-filters {
        padding: 0;
        margin: 0;
        width: auto;
        height: inherit;
        text-align: initial;
    }

    & .qti-navigator-filters .qti-navigator-filter {
        height: 100%;
    }

    & .qti-navigator-filters ul {
        display: block;
    }

    & .qti-navigator-section.active > .qti-navigator-label {
        background-color: initial;
        border: none;
        padding: 0;
    }

    & .qti-navigator-tree {
        height: 100%;
        display: block;
    }
}

.test-runner-scope .test-sidebar .fizzy .key-navigation-group.focusin {
    background: none;
}

/****** theme specific **********/
/**
 this styles rewrite default theme styles for MEXCBT project
 if sometimes in the future this design should be spread out to another project
 it will be better to move this rewriting to MEXCBT extension/project
 */
html body .qti-navigator.fizzy .qti-navigator-filter{
    width: auto;
}
html body .qti-navigator.fizzy .qti-navigator-filters{
    width: auto;
}
/*********************************/

/* panel styles */

.qti-navigator.fizzy {
    &.qti-panel.qti-panel {
        @include disableSelect();
        @include flex-container();
        @include vendor-prefix(flex-direction, column, property);
        cursor: default;
        height: 100%;
        position: relative;
        background-color: $uiReviewPanelBg !important;
        width: 30rem;
        padding: $panelPadding 0;
    }

    /* reset parent styles */
    .qti-navigator-filters.key-navigation-group.focusin.focusin {
        background: $uiReviewPanelBg;
    }
    .qti-navigator-filters {
        height: calc(100% - #{$headerHeight});
        margin: 0 $panelPadding; /* shows focusing border around tree items */
    }

    /* header */
    & > .qti-navigator-label {
        display: flex;
        justify-content: space-between;
        margin: 0 $panelPadding;
        border-bottom: 1px solid #ccc;
        min-height: $headerHeight;
        align-items: center;

        .qti-navigator-text {
            @include font-size(20);
            font-weight: bold;
        }

        .icon-close {
            @include font-size(28);
            line-height: $lineHeight;
            color: $uiReviewPanelTextDefault;

            &:hover {
                color: $uiReviewPanelTextDefault;
                text-decoration: none;
                cursor: pointer;
            }
        }
    }

    /* tree */
    .qti-navigator-tree {
        background: none;

        span.qti-navigator-label {
            margin: 13px 0 10px 0;
            display: block;
            @include font-size(15);
        }
    }
}
